@font-face {
  font-family: 'icon';
  src: url('../font/icon.eot?34240226');
  src: url('../font/icon.eot?34240226#iefix') format('embedded-opentype'),
       url('../font/icon.woff?34240226') format('woff'),
       url('../font/icon.ttf?34240226') format('truetype'),
       url('../font/icon.svg?34240226#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon';
    src: url('../font/icon.svg?34240226#icon') format('svg');
  }
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-right:before { content: '\e800'; } /* '' */
.icon-left:before { content: '\e801'; } /* '' */
.icon-up:before { content: '\e802'; } /* '' */
.icon-down:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-stop:before { content: '\e806'; } /* '' */
.icon-pause:before { content: '\e807'; } /* '' */
.icon-to-end:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-to-start:before { content: '\e80b'; } /* '' */
.icon-archive:before { content: '\e80c'; } /* '' */
.icon-github:before { content: '\e80d'; } /* '' */
.icon-fast-forward:before { content: '\e80e'; } /* '' */
.icon-fast-backward:before { content: '\e80f'; } /* '' */
.icon-ccw:before { content: '\e810'; } /* '' */
.icon-gauge:before { content: '\e811'; } /* '' */
.icon-menu:before { content: '\e812'; } /* '' */