

@import "_example.scss";


.rocket
{
    width: 30px;
    height: 50px;
    left: 10px;
    top: 175px;
    background-image: url('../img/rocket-03.svg');        
}



.planet
{
    width: 160px;
    height: 90px;
    left: 160px;
    top: 200px;
    margin-left: -80px;
    margin-top: -45px;
    background-image: url('../img/space-planet.svg');                                    
}


.controls
{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 300px;    
    
    
    .intro
    {
        font-family: $headingFontFamily;
        font-weight: 300;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    ul
    {
        list-style: circle;
    }
    
    li
    {
        cursor: pointer;
    }
    
    li:hover
    {
        color: #FFFFFF;
    }
    
    .current
    {
        color: #DDDDDD;
        font-weight: 400;
    }
}


@media screen and (max-width: 767px)
{
    .all
    {
        padding-left: 0;
        padding-right: 0;
    }
    
    .controls
    {
        right: auto;
        top: 500px;
        left: 10px;
    }
}

